.pagination {
  margin-top: 20px;
}

.page-btn {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}


/* état normal */
.fade {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.fade p {
  text-align: center;
  padding: 20px;
}

/* état caché */
.fade-out {
  opacity: 0;
}

/* état initial des cartes */
.card {
  opacity: 0;
  transform: translateY(15px);
}

/* animation */
.card.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}